/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


nav {
    background-color: #eeee;
}

nav button {
    margin: .2rem 2vw ;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: gray;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li a {
    text-decoration-line: none;
    display: block;
    padding: 1rem;
    color: black;
    border-top: 1px solid rgba(0,0,0,0.5);

}
nav ul li.active {
    background-color: rgba(0, 0, 0, 0.2);
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
nav ul {
    display: none;
}

nav ul.open {
    display: block;
}

#hambuggerButton span:nth-child(1) {display: block; }
#hambuggerButton span:nth-child(2) {display: none; }

#hambuggerButton.open span:nth-child(1) {display: none;}
#hambuggerButton.open span:nth-child(2) {display: block; }










