/*Weather API CSS*/

.weather{
    border: 2px solid gray;
    width: 50%;
    background-color: darkgreen;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#weathericon{
    width: 30%;
}
figure p{
    margin-top: -1rem;
    font-size: 4vmin;
    font-weight: bolder;
}

figcaption{
    font-size: 3.5vmin;
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.lastPara{
    color:rgb(65, 41, 41) ;
    font-weight: bolder;
    margin-top: 1rem;
    font-size: 3vmin;
}