body{
    margin: 0 auto;
    background-color: antiquewhite;

}

ul li{
    text-decoration: none;
    list-style-type: none;
    display: block;
}

a{
    text-decoration: none;
    display: block;
}

img {
    max-width: 100%;
    max-height: 100%;
}
main div {
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: block;

}
/*Style the header of our page*/


header {
    background-color:#29AAFB;
    margin-left: 5vmin;
    margin-right: 5vmin;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images);
}

.heading1 {
    display: flex;
    justify-content:space-between;
    flex-direction: column;

}

.logo {
    display: none;
    padding: 0px;
    margin: 0;
}

.heading_title{
    display: none;
    order: 2;
    align-self: center;
    font-size: 2.5vmin;
    text-align: center;
}


.socialMediaIcon {
    order: 3;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    position: relative;
    top: 0px;
    left: 30px;
}
.socialMediaIcon img {
    max-width: 25%;
}

.navigator {
    position: relative;
    top: -10px;
    left: -10px;

}


/*Style the navigator*/
nav button#hamburgerButton {
    margin: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: black;
    
}

nav.navigator ul {
    padding: 0px;
    margin: 0;
    display: none;
}
nav.navigator ul.open {display: block;}


nav.navigator ul li a{
    display: block;
    padding: .3rem .2vw;
    border-top: 1px solid rgba(0, 0, 0, 0.2);

}

/* Style button*/

#hamburgerButton span:nth-child(1) {display: block; }
#hamburgerButton span:nth-child(2) {display: none; }

#hamburgerButton.open span:nth-child(1) {display: none;}
#hamburgerButton.open span:nth-child(2) {display: block; }

.date{
    display: block;
    background-color: lightcoral;
    padding: .5rem 1rem;
    text-align: center;
    font-size: 3.5vmin ;
}


main{
    margin-left: 5vmin;
    margin-right: 5vmin;
    display: flex;
    flex-direction: column;
    gap: .5rem;

}
 
main h3 {
    font-style: italic;
    font-weight: bolder;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: lightcoral;
}

.hero a {
    position: relative;
    top: -10rem;
    left: .1rem;
    text-align: center;
    color: #29AAFB;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: gray;
}

.news h4 {
    position: relative;
    top: -9rem;
    left: .1rem;
    color: greenyellow;
    background-color: #29AAFB;
    font-size: 1rem;
    text-align: center;
}

.news p {
    position: relative;
    top: -8rem;
    left: .1rem;
    color: greenyellow;
    background-color: #29AAFB;
    font-size: 1rem;
    text-align: center;

}

h4{
    color: #29AAFB;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
}

.section1 p {
    position: relative;
    top: -12rem;
    left: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:italic;
    font-weight: bold;
    font-stretch: expanded;
}

.join a {
    position: relative;
    top: -8rem;
    left: 0px;
    font-style: italic;
    font-weight: bolder;
    font-size: 3rem;
}
.join a:hover{
    color: yellowgreen;
}

/*Style footer */
footer {
    margin-left: 5vmin;
    margin-right: 5vmin;
    background-color: #29AAFB;
    padding: 10px;
    
}

footer  div.footerInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
    margin-top: 10px;
    font-size: 3.5vmin;

}
footer div.footerInfo img {
    max-width: 40%;
}

footer div.footerInfo address {
    text-align: center;
}

footer ul {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-size: 3.5vmin;
    
}