@media only screen and (min-width: 32.5em) {

    body {
        margin: 0 auto;
        background-color: antiquewhite;


    }

    ul li {
        text-decoration: none;
        list-style-type: none;
        display: block;
    }

    a {
        text-decoration: none;
        display: block;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    main div {
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: block;

    }
    header {
        background-color: #29AAFB;
        margin-left: 5vmin;
        margin-right: 5vmin;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url(images);
    }

    .heading1 {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        gap: 0.5rem;
    }

    .logo {
        display: block;
        grid-column: 1/2;
        grid-row: 1/2;
        width: 30%;
    }

    .heading_title {
        display: block;
        grid-row: 2/3;
        grid-column: 2/3;
        
       
    }
    .heading_title h1{
        margin-top: -3rem;
        font-size: 5vmin;

    }

    .socialMediaIcon {
        grid-row: 1/2;
        grid-column: 3/4;
        display: flex;
        justify-content: space-around;
        margin-right: 2rem;
        margin-top: 2rem;
        gap: .5rem;

    }

    .socialMediaIcon img {
        max-width: 100%;
        max-height: 100%;

    }

    .navigator ul {
        display: block;
    }

    .navigator #hamburgerButton {
        display: none;
    }

    .navigator {
        grid-row: 3/4;
        grid-column: 2/3;

    }

    nav.navigator ul {
        padding: 1px;
        margin: 0;
        display: flex;
        justify-content: space-between;
        gap: .5rem;

    }

    nav.navigator ul a {
        font-size: 3vmin;
        margin-bottom: 1.5rem;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        background-color: gray;
        color: white;
        border-radius: 5px 5px;
    }

    nav.navigator ul a:hover {
        background-color: lightcoral;
        color: black;
    }

    .date {
        display: block;
        background-color: lightcoral;
        padding: .5rem 1rem;
        text-align: center;
        font-size: 3.5vmin;
    }

    /*Main*/

    main div {
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: block;
        margin-top: 1.5rem;
        margin-left: 5vmin;
        margin-right: 5vmin;

    }


    main {
        margin-left: 5vmin;
        margin-right: 5vmin;
        display: flex;
        flex-direction: column;
        gap: .5rem;

    }

    main h3 {
        font-style: italic;
        font-weight: bolder;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 1.5rem;
        color: lightcoral;
    }

    .hero a {
        position: initial;
        text-align: center;
        color: #29AAFB;
        font-size: 1.5rem;
        text-decoration: none;
        padding: 3rem;
    }

    .hero {
        padding: 3rem;
        background-color: gray;

    }

    .hero img {
        float: left;
    }



    .news {
        background-color: #29AAFB;
        padding: 3rem;
    }

    .news h4 {
        position: initial;
        color: black;
        font-size: 3vmin;
        text-align: center;

    }

    .news p {
        position: initial;
        color: black;
        font-size: 3vmin;
        text-align: center;


    }

    h4 {
        color: #29AAFB;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1.2rem;
    }

    .event {
        background-color: white
    }

    .event .events {
        padding: 0rem;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;


    }

    .events>section {
        border: 1px solid rgba(0, 0, 0, 0.2);
        display: block;
    }

    .events img {
        max-width: 100%;
        max-height: 100%;
    }

    .section1 p {
        position: initial;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: italic;
        font-weight: bold;
        font-stretch: expanded;
    }

    .join {
        background-color: lightgray;
    }

    .join a {
        position: relative;
        top: -8rem;
        left: 0px;
        font-style: italic;
        font-weight: bolder;
        font-size: 3rem;
        text-decoration: underline;
    }

    .partnership {
        background-color: gray;
        padding: 1rem;
    }

    .partnership p {
        float: right;
    }


    /*Discover.html css*/
    .lazyLoadingBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        margin-top: 2rem;
        margin-left: 5vmin;
        margin-right: 5vmin;

    }

    .lazyLoadingBody picture {
        border: 1px solid gray;
        filter: blur(0em);
        -webkit-filter: blur(0em);
        padding: 2rem;
    }

    .lazyLoadingBody img {
        width: 500px;
        height: 600px;


    }



    img[data-src] {
        filter: blur(0.3em);
        -webkit-filter: blur(0.3em);
    }

    img[data-src]:hover {
        box-shadow: 0 0 50px rgb(173, 10, 10);
    }

    .pict-10 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        justify-items: center;
        background-color: gray;
        padding: 1rem;
    }

    .pict-2 {
        background-color: lightcoral;
    }

    .pict-4 {
        background-color: #29AAFB;
    }

    .pict-6 {
        background-color: gray;
    }

    .pict-8 {
        background-color: white;
    }


    .pict-10 img:first-child {
        border-radius: 50%;
        float: left;
        padding: 0 20px 20px 0;
    }

    picture img:first-child:hover {
        box-shadow: 0 0 50px black
    }

    picture p {
        text-align: center;
        font-size: 1.5rem;
        margin: 0 auto;
    }

    .pict-1 img:first-child {
        border-radius: 5px 150px;

    }

    .pict-2 img:first-child {
        border-radius: 25%;
        -webkit-border-radius: 25%;
        -moz-border-radius: 25%;
        -ms-border-radius: 25%;
        -o-border-radius: 25%;
    }

    .pict-3 img:first-child {
        border-radius: 30%;
        -webkit-border-radius: 30%;
        -moz-border-radius: 30%;
        -ms-border-radius: 30%;
        -o-border-radius: 30%;
    }

    .pict-4 img:first-child {
        border-radius: 10%;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        -o-border-radius: 10%;
    }

    .pict-5 img:first-child {
        border-radius: 75%;
        -webkit-border-radius: 75%;
        -moz-border-radius: 75%;
        -ms-border-radius: 75%;
        -o-border-radius: 75%;
    }

    .pict-6 img:first-child {
        border-radius: 5px 150px 10px 30px;
        -webkit-border-radius: 5px 150px 10px 30px;
        -moz-border-radius: 5px 150px 10px 30px;
        -ms-border-radius: 5px 150px 10px 30px;
        -o-border-radius: 5px 150px 10px 30px;
    }

    .pict-7 img:first-child {
        border-radius: 5px 150px;

    }

    .pict-8 img:first-child {
        border-radius: 10%;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        -ms-border-radius: 10%;
        -o-border-radius: 10%;
    }



    .webStorage {
        background-color: #29AAFB;
        font-size: 1.5rem;
        padding: 1rem;
    }

    .label {
        font-family: Arial, sans-serif;
        font-weight: 700;
    }

    #visits {
        color: navy;
        font-weight: bolder;
        font-size: larger;
    }

    .today {
        color: black;
    }

    /*Form css*/
    .mainForm {
        margin: 0;
        border: 1px solid #bbb;
        padding: 0.5rem;
        width: 450px;
        height: 100vmin;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto auto;
        margin-top: 1vmin;
        margin-bottom: 4vmin;
        
    }

    form {
        display: grid;
        grid-gap: 0.25vmin;
        grid-template-columns: 1fr 1fr;
        width: 50%;
        margin: auto auto;
    }

    h1 {
        font-size: 3vmin;
    }

    label,
    input,
    textarea,
    select,
    button {
        padding: 0.35rem;
        font-size: 2vmin;
    }

    label {
        text-align: right;
    }

    input:focus,
    textarea:focus,
    select:focus {
        background-color: #bed;
    }

    button {
        grid-column: 1/3;
        background-color: lightcoral;
    }

    /*ThankYou css*/
    .thankYou {
        background-color: #29AAFB;
        font-family: Arial, Helvetica, sans-serif;
        margin: 8vmin 8vmin;
        box-shadow: 0 0 50px rgb(248, 79, 79);
        border-radius: 100%;
        -webkit-border-radius: 100%;
        -moz-border-radius: 100%;
        -ms-border-radius: 100%;
        -o-border-radius: 100%;
    }

    .thankYou img {
        max-width: 10%;
    }

    .thankYou h1,
    p {
        margin: auto auto;
        font-weight: lighter;
        font-style: italic;
        font-size: 3vmin;
        text-align: center;
    }
    /*directory css*/

    .mainDirectory{
        display: grid;
        grid-template-columns: 50% 53% ;
    
        
    }
    .cards {
        grid-column: 1/2;
        display: block;
        text-align: center;
    }

    .cards_2{
        grid-column: 2/3;
    }

    .cards section{
        border: 1px solid gray;
        font-size: 2.5vmin;
    }

    .companyName {
        color:#29AAFB;
    }
    .companyPhone{
        color: #29AAFB;
    }
    
    .cards section img{
        width: 70%;
    }

    .cards_2 section{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem;
        font-size: 2.5vmin;
        border: 1px solid gray;
        
    }
    .cards_2 section ul{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: center;
        padding: 0.5rem;
        font-size: 2.2vmin;
        
    }

    .cards_2 section:nth-child(1){
        background-color: lightblue;

    }
    .cards_2 section:nth-child(3){
        background-color: lightblue;
    }
    .cards_2 section:nth-child(5){
        background-color: lightblue;
    }
    .cards_2 section:nth-child(7){
        background-color: lightblue;
    }
    .cards_2 section:nth-child(9){
        background-color: lightblue;
    }
    .cards_2 section:nth-child(11){
        background-color: lightblue;
    }

    .companyPhone{
        font-size: 2.5vmin;
    }
    .companyAddress{
        font-size: 3vmin;
    }

    /*Footer css*/

    footer div.footerInfo {
        display: flex;
        margin-top: 10px;
        font-size: 3.5vmin;

    }

    footer div.footerInfo img {
        max-width: 25%;
    }


    footer ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 3.5vmin;

    }
    footer {
        margin-left: 5vmin;
        margin-right: 5vmin;
        background-color: #29AAFB;
        padding: 10px;
    
    }
    
    footer div.footerInfo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        justify-items: center;
        align-items: center;
        margin-top: 10px;
        font-size: 3.5vmin;
    
    }
    
    footer div.footerInfo img {
        max-width: 25%;
    }
    
    footer div.footerInfo address {
        text-align: center;
    }




}