picture > img{
    width: 300px;
    height: 400px;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img[data-src] {
    filter: blur(0.2em);
    -webkit-filter: blur(0.2em);
}
  
img {
    filter: blur(0em);
    transition: filter 1s;
    -webkit-transition: filter 1s;
    -moz-transition: filter 1s;
    -ms-transition: filter 1s;
    -o-transition: filter 1s;
}